#tsum-tabs h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
  }
  
  #tsum-tabs p {
    margin: 0 0 20px;
    line-height: 1.5;
  }
  
  #tsum-tabs main {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
  }
  
  #tsum-tabs section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }
  
  #tsum-tabs input {
    display: none;
  }
  
  #tsum-tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 1px solid transparent;
  }
  
  #tsum-tabs label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    display: none;
  }
  
  #tsum-tabs label[for*='1']:before { content: '\f1cb'; }
  #tsum-tabs label[for*='2']:before { content: '\f17d'; }
  #tsum-tabs label[for*='3']:before { content: '\f16b'; }
  #tsum-tabs label[for*='4']:before { content: '\f1a9'; }
  #tsum-tabs label[for*='5']:before { content: '\f1a9'; }
  
  #tsum-tabs label:hover {
    color: #888;
    cursor: pointer;
  }
  
  #tsum-tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
  }
  
  #tsum-tabs #tab1:checked ~ #content1,
  #tsum-tabs #tab2:checked ~ #content2,
  #tsum-tabs #tab3:checked ~ #content3,
  #tsum-tabs #tab4:checked ~ #content4,
  #tsum-tabs #tab5:checked ~ #content5 {
    display: block;
  }
  
  @media screen and (max-width: 650px) {
    #tsum-tabs label {
      font-size: 20pxs;
    }
    #tsum-tabs label:before {
      margin: 0;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 400px) {
    #tsum-tabs label {
      padding: 15px;
    }
  }

  .responsive-map{
    overflow: hidden;
    padding: 30px;
    position:relative;
    height:40vh;
    }
    .responsive-map iframe{
        padding: 30px;
    left:0;
    top:0;
    height:40vh;
    width:100%;
    position:absolute;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
      
        > div {
          display: flex;
          flex-direction: column;
        }
      
        > .flex-item {
          flex: 1 1 10ch;
          margin: 0.5rem;
      
          &__alt {
            flex: 3 1 30ch;
          }
        }
      }
      
      input {
        border: none;
        background: hsl(0, 0%, 93%);
        border-radius: 0.25rem;
        padding: 0.75rem 1rem;
      
        &[type="submit"] {
          align-self: flex-end;
          background: hotpink;
          color: white;
          box-shadow: 0 0.75rem 0.5rem -0.5rem hsl(0, 50%, 80%);
        }
      }
      